html, body{
	height: 100%;
}

body { 
	//padding-top: 70px;
	/*background-image: url("../images/debut_light.png");*/
	/*background-image: url("../images/blue_stripped.jpg");*/
	background-image: url("../img/debut_light.png");
	
 }

 .bg{
 	background-color: #FFFFFF;
 }



.container-fluid{
	height:100%;
	min-height:100%;

}

.fill{
	min-height:100%;
-moz-box-shadow: 0px 0px 0.5px 0px #656565;
-webkit-box-shadow: 0px 0px 0.5px 0px #656565;
-o-box-shadow: 0px 0px 0.5px 0px #656565;
box-shadow: 0px 0px 0.5px 0px #656565;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=0.5);
}

.margin-top-hackNavbar{
	margin-top:50px;
}

.margin-right-5
{
	margin-right:5px;
}

.text-center
{
	text-align:center;
}

.image-center
{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.top-20
{
	margin-top:20px;
}

.vHidden
{
	visibility: hidden;
}